<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
    <head>
        <title>bbs</title>
    </head>
    <body>
        <h3>î²¡ëøÅ£BS</h3>
        <table border=1 cellspacing=7 cellpadding=3 width=95% bgcolor="#CCFFCC"align=center>
            <tr>
                {assign var=index value=1}
                {foreach from=$thread_info item=info}
                <td>
                    <a href="/thread/{$info['id']}/" >
                        {$index|escape}: {$info['thread_name']|escape}
                    </a>
                </td>
                {assign var=index value=$index+1}
                {/foreach}
            </tr>
        </table>
        <table border=1 cellspacing=7 cellpadding=3 width=95% bgcolor="#CCFFCC"align=center>
            <tr>
                <td>
                    <a href="/create/" >åâ¹åã¬åã¦å¥éëö°ğ¨¾æ½Øè¯ğ</a>
                </td>
            </tr>
        </table>
    </body>
</html>
