<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
    <head>
        <title>bbs</title>
    </head>
    <body>
        <h3>簡易BBS</h3>
        <table border=1 cellspacing=7 cellpadding=3 width=95% bgcolor="#CCFFCC"align=center>
            <tr>
                <td>
                    {$thread_name[0]}
                </td>
            </tr>
        </table>
        <table border=1 cellspacing=7 cellpadding=3 width=95% bgcolor="#CCFFCC"align=center>
            <tr>
                <td>
                    id: thread name
                </td>
            </tr>
        </table>

    </body>
</html>
