
<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=x-sjis">
        <title>簡易BBS</title>
    </head>
    <body text="#000000" BGCOLOR="#FFFFFF" link="#0000FF" alink="#FF0000" vlink="#660099" background="http://www2.2ch.net/ba.gif">
        <br>
        <table border=1 cellspacing=7 cellpadding=3 width=95% bgcolor=#CCFFCC align=center>
            <tr>
                <td align="center">
                    <form method=POST>
                        <table border="0" cellpadding="1" width="100%">
                            <tr>
                                <td nowrap colspan="3">
                                    <font +1>
                                        <b>簡易BBS</b>
                                    </font>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td nowrap align="right">タイトル：</td>
                                <td>
                                    <input type="text" name="subject" size="40">
                                </td>
                                <td>
                                    <input type=submit value="新規スレッド作成" name="submit">
                            </td>
                            </tr>
                            <tr>
                                <td nowrap align="right">名前：
                                </td>
                                <td nowrap colspan="2">
                                    <input type=text name=FROM size=19> E-mail：
                                    <input type=text name=mail size=19>
                                </td>
                            </tr>
                            <tr>
                                <td nowrap align="right" valign="top">内容：
                                </td>
                                <td colspan="3">
                                    <textarea rows=5 cols=60 wrap=OFF name=body></textarea>
                                </td>
                            </tr>
                        </table>
                        <b>
                            <a href="/">一覧に戻る</a></b><br><br></form></td></tr></table><br></body></html>
