<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
    <head>
        <title>{$title}</title>
    </head>
    <body bgcolor=#efefef text=black link=blue alink=red vlink=#660099>
        <div style="margin-top:1em;"><span style='float:left;'>
                <a href="/">スレッド一覧へ戻る</a>
                <h1 style="color:red;font-size:larger;font-weight:normal;margin:-.5em 0 0;">{$thread_info['thread_name']}</h1>
                {foreach from=$articles item=article}
                <dl class="thread">
                    <dt>1 ：<a href="mailto:sage"><b>{$article['user_name']}</b></a>{$article['inserted_at']}<dd> {$article['body']} <br><br>
                </dl>
                {/foreach}
                <a href="/">スレッド一覧へ戻る</a>
                {if }
                <form method=POST action="">
                    <input type=submit value="書き込む" name=submit/>
                    名前： <input name="user_name" size=19 />
                    E-mail<font size=1> (省略可) </font>: <input name=mail size=19><br />
                        <textarea rows=5 cols=70 wrap=off name=body></textarea>
                </form>
    </body>
</html>


